<div class="topimage">
  <%= image_tag '20200124_023831.jpg' %>
  <p>BombDiary</p>
</div>
<br>
<br>
<div class="textone">
  <p>確率が本当に自分にも当てはまっているのか、記録して確認してみよう！</p>
</div>
<br>
<br>
<br>

<div class="loginform">
  
  <h4>ログインはこちらから</h4>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "ログイン" %>
<% end %>
</div>
