<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feed.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @feed.comment %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url, :size =>'300x200' %>
</p>

<p>
  <strong>Date:</strong>
  <%= @feed.date %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
