<h1><%= @user.user_name %>のページ</h1>

<div class="user_icon">
  <%= image_tag "#{@user.image}", :size =>'200x200'%>
</div>

<p>一言: <%= @user.profile %></p>
<br>
<br>
<br>
<% if @user.id == current_user.id %>
  <p><%= link_to "ユーザー情報を編集する", edit_user_path(@user) %></p>
  <p><%= link_to "ユーザー情報を削除する", @user, method: :delete, data: {confirm: '本当に削除しますか?'} %></p>
  <br>
  <br>
  <p><%= link_to '画像を投稿する', new_feed_path %></p>
<% else %>
  <%= link_to '投稿一覧へ', feeds_path %>
<% end %>
